#history{
    width: 100%; height: var(--history-height);
    overflow: scroll;

    display: flex;
    align-items: center;
    padding-inline: 25px;
    gap: 5px;

    background-color: black;
    color: white;
}
#history p{
    font-size: 2em;
}