#history{
    width: 100%; height: var(--history-height);
    min-height: var(--history-height);
    overflow-x: scroll;
    max-width: 100%;

    display: flex;
    align-items: center;
    padding-inline: var(--padding-size);
    gap: 5px;

    cursor: default;
}

#history>button{
    all: unset;
    position: relative;
    display: flex;
    gap: 5px;
}

#history>button:hover{
    cursor: pointer;
}
#history .user:hover   {background-color: lightblue;}
#history .shuffle:hover{background-color: lightsalmon;}
#history .solver:hover {background-color: lightgreen;}

#history>button>p{
    font-size: 2em;
    width: 2em;
    text-align: center;
    /* padding-inline: var(--padding-size); */
}
#history>button:hover>p{
    background-color: transparent;
}
#history .user    p{background-color: lightblue;}
#history .shuffle p{background-color: lightsalmon;}
#history .solver  p{background-color: lightgreen;}