#moves{
    width: 100%;
    max-height: 100%;

    margin-inline: auto;
    padding: var(--padding-size);
    overflow: hidden;

    background-color: black;
}

#moves .slider{
    height: 100%;
    display: flex; flex-direction: column;
    gap: var(--padding-size);
    overflow-y: scroll;
    overflow-x: hidden;
}

#moves .slider>section{
    display: flex; flex-direction: column;
    gap: var(--padding-size);
}
#moves .slider>section>p{
    text-align: center;
    color: white;
    min-width: 100%;
    max-width: 100%;
    padding-block: 5px;
    background-color: rgb(34, 34, 34);
}
#moves .slider>section>div{
    display: flex; flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding-block: var(--padding-size);
    background-color: rgb(34, 34, 34);
}

#moves button{
    width: var(--moves-button-size); height: var(--moves-button-size);
    color: white;
    background-color: black;
    display: grid;
    place-items: center;
    opacity: 1;
}

#moves button:active{
    opacity: .2;
    background-color: white;
    color: black;
}

#moves button:disabled{
    opacity: .2;
}