#sidebar{
    display: flex;
    flex-direction: column;
    gap: var(--padding-size);
    padding: var(--padding-size);
    overflow: hidden;
}

/* controls */

#controls{
    overflow-y: scroll;
    flex: 1;
}

#controls .moves button,
#controls .tools .playbackControls button{
    display: grid;
    place-items: center;

    width: var(--moves-button-size);
    height: var(--moves-button-size);
    
    opacity: 1;
    color: white;
    background-color: black;
}

#controls .moves{
    display: flex; flex-direction: column;
    gap: var(--padding-size);
}

#controls .moves>section{
    background-color: rgb(34, 34, 34);
    color: white;
}
#controls .moves>section>p{
    text-align: center;
    padding-block: 5px;
}
#controls .moves>section>div{
    display: flex; flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    padding-block: 5px;
}

#controls .moves button:active,
#controls .tools .playbackControls button:active{
    opacity: .2;
    background-color: white;
    color: black;
}

#controls .moves button:disabled,
#controls .tools .playbackControls button:disabled{
    opacity: .2;
}

/* commands */

#commands{
    display: flex;
    gap: var(--padding-size);

    width: 100%; 
    min-height: var(--moves-button-size);
}

#commands button{
    display: grid;
    place-items: center;
    
    height: 100%;
    aspect-ratio: 1;
    
    line-height: 0;
    font-size: 2em;

    color: white;
    background-color: rgb(34, 34, 34);
}

#commands .reset{
    flex: 1;
    font-size: 1em;
    aspect-ratio: unset;
}

#commands .resolve.active{
    filter: invert(1);
}

/* tools */

#controls .tools{
    height: 100%;
    /* display: flex; */
    display: none;
    flex-direction: column;
    padding: var(--padding-size);
    gap: var(--padding-size);
    background-color: rgb(34, 34, 34);
    overflow: scroll;

}

#controls .tools .playbackControls{
    display: flex;
    justify-content: center;
    gap: var(--padding-size);
}

#controls .tools .paintCube{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(2, var(--moves-button-size));
    gap: var(--padding-size);
    padding: var(--padding-size);

    background-color: black;
}
#controls .tools .paintCube span{
    position: relative;
    background-color: rgb(34, 34, 34);
    border: 2px solid black;
}
#controls .tools .paintCube span input{
    all: unset;
    position: absolute;
    width: 100%; height: 100%;
    visibility: hidden;
}

/*  */

.resetColor,
.debug{
    position: relative;
    width: 100%;
    min-height: calc(var(--moves-button-size) / 2);
    user-select: none;
}

.resetColor button,
.debug input{
    all: unset;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.resetColor button,
.debug label{   
    display: grid;
    place-items: center;

    background-color: black;
    color: white;
}

.debug input{
    position: absolute;
    top: 0; left: 0;
}
.debug label{
    width: 100%;
    height: 100%;
}

.debug:has(input:checked) label{
    background-color: white;
    color: black;
}